header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.container{
    width: 100%;
}

.logo-img {
    max-height: 64px!important;
    padding: 10px!important;
}

.image-need-placeholder { background: url('/assets/images/placeholder.png') no-repeat -9999px -9999px; }
