@(title: String)

    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-3.4.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/zxcvbn.js")"></script>
    <link type="text/css" media="screen,projection" rel="stylesheet" href="@routes.Assets.versioned("styles/materialize.css")">
    <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("styles/shared.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
       <script type="text/javascript" src="@routes.Assets.versioned("js/md5.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/materialize.js")"></script>
